@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Lato:wght@300&family=Oswald&display=swap');            

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;   
}


.game-board {
    width: 100%;
    height:900px;
   /* border-bottom: 15px solid rgb(35, 160, 35); */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

/* Controls area */ 

button {
    margin-top: 20px;
    border-radius: 20%;
    height: 50px;
    width: 100px;
    margin-left: 30px;
}

#start-button {
    background-color: #e50406;
    color: white;
  }
  

  /* How to playe button and modal for instructions */
  .info-button {
    background-color: #2550d2;
    color: white;
  }

  .info-button:hover{
    background-color: pink;
  }

  .modal {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #111111bd ;
    display: flex;
    opacity:0;
    pointer-events: none;
  }

  .modal.show  {
    opacity: 1;
    pointer-events: auto;
  }

  .modal_container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display:grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
  }

  .modal_title{
    font-size: 2.5rem;
  }

  .modal_paragraph{
    margin-bottom: 10px;
  }

  .modal_img{
    width: 90%;
    max-width: 200px;
  }

  .modal_close{
    text-decoration: none;
    color: #fff;
    background-color: #87CEEB;
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color 3s;
  }

  .modal_close:hover{
    color: #87CEEB;
    background-color: #fff;
  }


  
  
  /* play button */

  #play-info {
    text-align: right;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.1rem;
  }
  
  .play-info-inner {
    display: inline-block;
    margin: 0.25rem 1.5rem 1.5rem 0.25rem;

  }

  #play-info, #top-message-area, #bottom-message-area {
    font-size: 1.5rem;
  }






/* Positioning and aligning the pipe */

.pipe {
    position: absolute;
    bottom: 55px;
    width: 80px;
    /* linear keeps the same speed in the animation */
    animation: pipe-animation 1.5s infinite linear;
}

/* Positioning and aligning mario */

.mario {
    width: 150px;
    position: absolute;
    /*bottom:0;*/
    bottom: 55px;
}

/* Jump configuration */
.jump {
    animation: jump 500ms ease-out;
}

/* Clouds and ground  */
.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.ground {
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 100px;
    animation: ground-animation 20s infinite linear;
}

/* Footer */

footer p {    
    text-align: center;
    position: relative;
}

.groundFooter {
    width: 100%;
    height: 80px;
    position: absolute;
}


/* Animations */

/* pipe */
@keyframes pipe-animation {
    /* right -80 so the pipe will enter into my box, if I put 0 the pipe appears in the 
    the right side bottom. */
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

/* Mario */ 
/* This animation has 3 parts start, middle and end, when starts mario is at the bottom
so is 0, the middle (when he jumps) the bottom is 180, and the end it is 0 as well as
the jump is finished */
@keyframes jump {

    0% {
        bottom: 50px;
    }

    40% {
        bottom: 250px;
    }

    50% {
        bottom: 250px;
    }

    60% {
        bottom: 250px;
    }

    100% {
        bottom: 50px;
    }
}

/* Clouds */ 
@keyframes clouds-animation {

    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

/* Ground */
@keyframes ground-animation {

    from {
        
    }

    to {
        ;
    }
}


