@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Lato:wght@300&family=Oswald&display=swap');            

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DotGothic16', sans-serif;   
}


.game-board {
    width: 100%;
    height:900px;
   /* border-bottom: 15px solid rgb(35, 160, 35); */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

/* Controls area */ 

button {
    margin-top: 20px;
    border-radius: 20%;
    height: 50px;
    width: 100px;
    margin-left: 30px;
}

#start-button {
    background-color: #e50406;
    color: white;
  }
  
  #info-button {
    background-color: #2550d2;
    color: white;
  }
  
  #play-info {
    text-align: right;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1.1rem;
  }
  
  .play-info-inner {
    display: inline-block;
    margin: 0.25rem 1.5rem 1.5rem 0.25rem;

  }

  #play-info, #top-message-area, #bottom-message-area {
    font-size: 1.5rem;
  }


/* Footer */



/* Positioning and aligning the pipe */

.pipe {
    position: absolute;
    bottom: 55px;
    width: 80px;
    /* linear keeps the same speed in the animation */
    animation: pipe-animation 1.5s infinite linear;
}

.ground {
    position: absolute;
    position: 0 0;
    bottom:0;
    width: 100%;
    height: 100px;
    animation: ground-animation 20s infinite linear;
}

/* Positioning and aligning mario */

.mario {
    width: 150px;
    position: absolute;
    /*bottom:0;*/
    bottom: 55px;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}


/* Animations */

/* pipe */
@keyframes pipe-animation {
    /* right -80 so the pipe will enter into my box, if I put 0 the pipe appears in the 
    the right side bottom. */
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

/* Mario */ 
/* This animation has 3 parts start, middle and end, when starts mario is at the bottom
so is 0, the middle (when he jumps) the bottom is 180, and the end it is 0 as well as
the jump is finished */
@keyframes jump {

    0% {
        bottom: 50px;
    }

    40% {
        bottom: 200px;
    }

    50% {
        bottom: 200px;
    }

    60% {
        bottom: 200px;
    }

    100% {
        bottom: 50px;
    }
}

@keyframes clouds-animation {

    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes ground-animation {

    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}


